.title {
  width: 100%;
  display: inline-block;
}

.entrepriseName {
  font-size: 2.0em;
  font-weight: bold;
  float: left;
}

.enterpriseDescription {
  display: flex;
}

.enterpriseAvatar {
  margin: 10px;
  width: 200px !important;
  height: 200px !important;
}

.chartContainer {
   margin-left: auto;
}

.teamPhoto {
  width: 50%;
  display: inline-block;
}

.editableEnterpriseName {
  margin-left: 11px;
  width: 65%;
}

.editableEnterpriseName input {
  font-size: 2.0em;
  font-weight: bold;
}

.configEnterpriseName {
  font-size: 2.0em;
  font-weight: bold;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.infoPaper {
  width: -webkit-fill-available;
  height: fit-content;
  padding: 10px;
  margin: 20px;
}

.infoLine {
  margin: 5px !important;
}

.cardsContainer {
  width: 100%;
  margin-top: 50px;
}

.cardContainer {
  width: 21%;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
}

.textOfList {
  padding-left: 0px !important;
}

.addNewTeam {
  display: inherit !important;
  text-align: center !important;
}

.fieldInputOnDialog {
  width: 100%;
}

.teamPhoto {
  width: 100%;
  display: inline-block;
}

.teamAvatar {
  margin: 10px;
  width: 200px !important;
  height: 200px !important;
}
