.navigationButton {
  display: inline;
  margin: 2%;
  width: 11%;
}

.sprintTitle {
  margin: 2%;
  width: 66%;
}

.sprintSelectorContainer {
  display: inline-flex;
  width: 100%;
}

.sprintNavigation {
  text-align: center;
  width: 40%;
}

.barraParaBuscar {
  width: 30%;
  display: grid;
}

.sprintEditor {
  width: 30%;
  display: flex;
}
