.addNewCard {
  text-align: center !important;
}

.notesContainer {
  overflow-y: auto;
  width: 80% !important;
}

.cardParagraph {
  color: white !important;
  display: inline-flex !important;
}

.noteCardIcon {
  color: white;
  float: right;
}

.noteDeleteButton {
  float: right;
  padding: 0 !important;
  min-width: 0 !important;
}
