.profileTitle {
  width: 100%;
  display: inline-block;
}

.profileName {
  font-size: 2.0em;
  font-weight: bold;
  float: left;
}

.profileDescription {
  display: flex;
}

.profilePhoto {
  width: 50%;
  display: inline-block;
}

.profileAvatar {
  margin: 10px;
  width: 200px !important;
  height: 200px !important;
}

.profileChartContainer {
  margin-left: auto;
}

.infoPaper {
  width: -webkit-fill-available;
  height: fit-content;
  padding: 10px;
  margin: 20px;
}

.infoLine {
  margin: 5px !important;
}
