
body {
  margin: 0;
  font-family: Arial;
  background-color: #f2f2f2;
}

.boxes {
  color: #fff;
  padding: 1em;
  text-align: center;
  background-color: #efefef;
  height:110%;
}


.perfil   { background-color: #A2DED0; }
.pizarras  { background-color: #F4D03F; }
.logros   { background-color: #6C7A89; }
.chart { background-color: #59ABE3; }

/* Our Grid Code */
.app-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 50vh;
  grid-template-rows: 100vh 100vh;
}
