@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  align-content: center;
}

body {
  margin: 0;
  padding: 0;
}

.mr-20 {
  margin-top: 70px !important;
  margin-right: 20px !important;
}
