.search {
    position: relative;
    background-color: #2E4158;
    border-radius: 5px;
    margin-right: 0;
    margin-left: 5%;
    width: 50%;
    align-items: left;
  }

  .linkPerfil {
    color: #fff;
  }

  .menuButton {
    margin-left: -12;
    margin-right: 20;
  },

.searchIcon {
    width: 24px;
    height: 24px;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.commonLink {
  text-decoration: unset !important;
}

.subList {
  width: 100%;
}

.textOfListSideMenu span {
  color: white !important;
  font-weight: bold !important;
}

.textOfInputLabel {
  color: white !important;
  font-weight: bold !important;
}

.searchBarTitleCont {
  padding: 0 !important;
}

.searchBarTitle span {
  font-size: small;
}
